---
layout: default
permalink: /shoshin/
---

<div class="home">
  <ul class="post-list">
    {% for page in site.posts %}
      <li>
        <h3>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | escape }}</a>
        </h3>
        {{ page.excerpt | markdownify }}
        {% include post_meta.html %}
      </li>
    {% endfor %}
  </ul>
</div>
