---
layout: page
title: Topics
permalink: /shoshin/topics
display: true
---

{% assign tags = site.tags | sort %}
{% for tag in tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    <h2>{{ t }}</h2>
    <ul>
    {% for post in posts | sort: 'post.title' %}
          {% if post.tags contains t %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>,
                <span class="post-meta">{{ post.date | date: "%B %-d, %Y"  }}</span>
              </li>
          {% endif %}
    {% endfor %}
    </ul>
{% endfor %}
