<header class="site-header">
    <a class="site-title" href="/shoshin/">{{ site.title | escape }}</a>
    <nav class="site-nav">
        <div>
            {% for page in site.pages %}
            {% if page.display %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </nav>
    <hr/>
</header>
