<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
