---
layout: default
---

<article class="post">
  <h1>{{ page.title | escape }}</h1>
  <b>{{ page.excerpt | markdownify }}</b>
  <div class="post-content">{{ content }}</div>
  {% include post_meta.html %}
</article>
